<div id="first" class="section" data-0="transform:translate(0,0%);" data-100p="transform:translate(0,-100%);"></div>
<div id="second" class="section"  data-0="transform:translate(0,100%);" data-100p="transform:translate(0,0%)" data-_box-100p="" data-_box-200p="transform:translate(0,-100%)">
  <div class="box" data-100p="width:0%;" data-_box-100p="width:100%"></div>
</div>
<div id="third" class="section"  data-_box-100p="transform:translate(0,100%);" data-_box-200p="transform:translate(0,0%);"></div>

